---
import Breadcrumb from "../components/layout/Breadcrumb.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout description="Oops!" title="404 Page">
  <Breadcrumb>
    <Fragment slot="title">404 Page</Fragment>
  </Breadcrumb>

  <!-- ====== 404 Section Start -->
  <section class="bg-white dark:bg-dark-2 py-20 lg:py-[110px]">
    <div class="container">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full px-4 md:w-5/12 lg:w-6/12">
          <div class="text-center">
            <img src="/assets/404.svg" alt="image" class="max-w-full mx-auto" />
          </div>
        </div>
        <div class="w-full px-4 md:w-7/12 lg:w-6/12 xl:w-5/12">
          <div>
            <div class="mb-8">
              <h2
                class="text-[80px] sm:text-[100px] md:text-[130px] font-extrabold text-transparent leading-none mb-4 tracking-tighter"
                style="-webkit-text-stroke: 4px #3758F9;"
              >
                Oops!
              </h2>
            </div>
            <h3 class="mb-5 text-2xl font-semibold text-dark dark:text-white">
              We Can't Seem to Find The Page You're Looking For.
            </h3>
            <p class="mb-8 text-base text-body-color dark:text-dark-6">
              Oops! The page you are looking for does not exist. It might have
              been moved or deleted.
            </p>
            <a
              href="javascript:void(0)"
              class="px-7 py-3 text-base font-medium transition bg-dark rounded-md text-white hover:bg-primary"
            >
              Go To Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 404 Section End -->
</Layout>
