---
import Head from "../components/Head.astro";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

let { title } = SITE;
let description = "Custom-made designs made simple";
let permalink = "https://www.vistapeople.net/";

let allNavBar = await Astro.glob("./content/navigationbar/*.md");
allNavBar = allNavBar.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      {allNavBar.map((p) => <Nav post={p} />)}
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one animation"
          >
            CONTACT
          </h1>
        </div>
      </div>
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <form
          action="https://formie.io/form/92f0a5e8-6eac-4adf-bb83-bacd4df0fd24"
          method="POST"
          enctype="multipart/form-data"
          accept-charset="UTF-8"
          class="flex flex-col"
        >
          <input
            name="_redirect"
            type="hidden"
            value="https://www.vistapeople.net/success"
          />
          <input
            name="_redirect_error"
            type="hidden"
            value="https://www.vistapeople.net/error"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Your email</label
          >
          <input
            name="email"
            type="email"
            class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Name</label
          >
          <input
            name="name"
            type="text"
            class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Telephone</label
          >
          <input
            name="telephone"
            type="text"
            class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <div class="m-5"></div>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Type of furniture</label
          >
          <select
            name="type-of-furniture"
            class="mb-4 p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>Wardrobe</option>
            <option>Kitchen</option>
            <option>Cupboard</option>
            <option>Table</option>
            <option>Cabinet</option>
            <option>Other</option>
          </select>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >If other selected please specify</label
          >
          <input
            name="other-furniture"
            type="text"
            class="mb-4 block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Approximate Size</label
          >
          <input
            name="approximate-size"
            type="text"
            class="mb-4 block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Material</label
          >
          <select
            name="materials"
            class="mb-4 p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>In consultation</option>
            <option>Multiplex</option>
            <option>MDF</option>
            <option>Real wood veneer</option>
            <option>HPL</option>
          </select>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Finish</label
          >
          <select
            name="finish"
            class="mb-4 p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>In consultation</option>
            <option>Painted</option>
            <option>Varnished</option>
            <option>Oiled/Waxed</option>
          </select>
          <div class="pt-2">
            <h3
              class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >
              Special Features
            </h3>
            <ul
              class="mb-4 items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            >
              <li
                class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
              >
                <div class="flex items-center pl-3">
                  <input
                    name="special-features[]"
                    type="checkbox"
                    value="In Consultation"
                    class="mb-4w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                  />
                  <label
                    class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >In Consultation</label
                  >
                </div>
              </li>
              <li
                class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
              >
                <div class="flex items-center pl-3">
                  <input
                    name="special-features[]"
                    type="checkbox"
                    value="Drawers"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                  />
                  <label
                    class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Drawers</label
                  >
                </div>
              </li>
              <li
                class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
              >
                <div class="flex items-center pl-3">
                  <input
                    name="special-features[]"
                    type="checkbox"
                    value="Rails"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                  />
                  <label
                    class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Rails</label
                  >
                </div>
              </li>
              <li
                class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600"
              >
                <div class="flex items-center pl-3">
                  <input
                    name="special-features[]"
                    type="checkbox"
                    value="Other"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                  />
                  <label
                    class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Other</label
                  >
                </div>
              </li>
            </ul>
          </div>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >If other selected please specify</label
          >
          <input
            name="other-special-features"
            type="text"
            class="mb-4 block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <div class="m-5"></div>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Additional Information</label
          >
          <textarea
            name="additional-information-and-other"
            class="mb-4 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          ></textarea>
          <label
            for="execution-date"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Execution Date</label
          >
          <select
            name="execution-date"
            class="mb-4 p-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected="true" disabled="disabled">Choose Option</option>
            <option>Urgently</option>
            <option>Within a couple of months</option>
            <option>In consultation</option>
          </select>
          <label
            for="brief-outline-of-project"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Brief outline of the project</label
          >
          <textarea
            name="brief-outline-of-project"
            class="mb-4 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          ></textarea>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Inspiration files</label
          >
          <input
            name="inspiration-pictures-and-files"
            class="mb-4block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            type="file"
          />
          <div
            class="mt-1 text-sm text-gray-500 dark:text-gray-300"
            id="inspiration_file_upload"
          >
            Please compress/zip your inspiration files
          </div>

          <button
            class="mt-10 w-[8em] inline-flex justify-center content-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Submit</button
          >
        </form>
      </div>
      <Footer />
    </div>
    <style>
      .animation {
        opacity: 0;
        transition: all 0.7s ease-out;
        transition-delay: 0.4s;
      }

      .scroll-animation {
        opacity: 1;
        transform: translateX(0);
      }
    </style>
    <script>
      const the_animation = document.querySelectorAll(".animation");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("scroll-animation");
            } else {
              entry.target.classList.remove("scroll-animation");
            }
          });
        },
        { threshold: 0.1 }
      );
      //
      for (let i = 0; i < the_animation.length; i++) {
        const elements = the_animation[i];

        observer.observe(elements);
      }
    </script>
  </body>
</html>
