---
import Head from "../components/Head.astro";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

let { title } = SITE;
let description = "Custom-made designs made simple";
let permalink = "https://chipchop.nl/";
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one"
          >
            ERROR
          </h1>
        </div>
      </div>
      <div class="flex flex-col justify-center max-h-full h-[55vh] text-center">
        Something went wrong, please try again.
      </div>
      <Footer />
    </div>
  </body>
</html>
