---
import Head from '../components/Head.astro';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'Custom-made designs made simple';
let permalink = 'https://chipchop.nl/';
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1
            class="uppercase mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one"
          >
            Terms & Conditions
          </h1>
        </div>
      </div>
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <p class="p-5">
          Client means “the person, entity, company or other organisation
          commissioning the work” Contractor means “ the entity hired by the
          client to carry out the work, under the terms and conditions as
          outlined and as determined by the latter pursuant to a quotation.”
        </p>
        <p class="p-5">
          Article 1 SCOPE These terms and conditions apply to all agreements and
          quotations for the delivery of panelling, project fittings, shop
          fittings, furniture and upholstery, as well as to all other matters
          included in the work, irrespective of whether the order has been
          obtained by tendering or otherwise. Subject to the other stipulations
          in these General Terms and Conditions, the General (Tender) Terms and
          Conditions used by the employer are not applicable, unless they have
          been expressly accepted by the contractor in writing.
        </p>
        <p class="p-5">
          Article 2 REGISTRATION CONDITIONS OF THE APPLICANT The registration
          conditions must be the same for all tenderers. The registration period
          must be at least 10 working days for objects of any size, in order to
          enable the tenderers/contractor to submit a properly calculated offer.
          The information to be provided by the applicant must meet reasonable
          requirements of clarity and accuracy and fully correspond to any
          accompanying drawings.
        </p>
        <p class="p-5">
          Article 3 COPYRIGHT The contractor reserves the copyright to the
          designs, images and drawings, sketches and/ or quotations provided by
          him with the offer. The drawings, designs, images, sketches and/or
          quotations provided by him may not be copied, shown to third parties
          or used in any other way without the written permission of the
          contractor. The drawings, designs, images, sketches and/or quotations
          provided by the contractor must be returned carriage paid to the
          contractor within 14 days of the date on which it was decided that the
          contractor will not be awarded an assignment for the execution of the
          work, unless otherwise agreed in writing. The client, acting in
          violation of the provisions of Articles 3, paragraphs 2 and 3, owes
          the contractor an amount equal to ten percent (10% ) of the amount of
          the quotation made with the offer, which amount the client will pay in
          that case upon the contractor's first reminder. Due to payment, the
          property does not transfer the copyright.
        </p>
        <p class="p-5">
          Article 4 PROVISIONAL ITEMS Unless otherwise agreed in writing, the
          price of quotations for orders for the delivery of an on-site
          installation and/or installation or part thereof shall not include: a.
          ground, piling, foundation, levelling and cleaning of floors, walls or
          ceilings or cleaning of items other than the delivery; b. the
          additional help for moving those parts which cannot be handled by the
          contractor itself, as well as the hoisting or lifting equipment and
          hoists used for this purpose.
        </p>
        <p class="p-5">
          Article 5 OFFERS All quoted prices are net, exclusive of turnover tax,
          and are based on execution during normal working hours. A quotation is
          only binding on the contractor if this is expressly stated in writing
          on the tender or otherwise expressly communicated to the client in
          writing. The contractor is entitled to charge the client for increases
          in wages, raw material prices, transport costs, exchange rates,
          insurance premiums and government levies (particularly taxes) for
          those activities and/or to assemble (parts of) installations that the
          contractor must still perform/or deliver at the time of those
          increases. The contractor reserves the right to make minor changes to
          the construction insofar as this does not bring about any substantial
          change in the work. The quotation shall include the manner in which
          less or more work is settled, if any. If the assignment for the
          execution of the work is not given to the contractor, the applicant
          undertakes to return the quotation complete with designs, images and
          drawings to the contractor within 14 days after the date of the
          decision (art. 3 paragraphs 3 and 4). With due observance of the
          provisions of paragraph 2 of this article, the quoted prices are fixed
          for the duration of the work, unless indexation has been agreed.
        </p>
        <p class="p-5">
          Article 6 RESPONSIBILITY FOR THE WORK The contractor is responsible
          for the proper execution of the work. The contractor accepts no
          responsibility for a design elaborated by or on behalf of the
          applicant, purchaser, or client by third parties, nor for any
          specification of dimensions, measures and materials given with the
          design. In the case of an assignment, the contractor only takes
          responsibility for the correct assembly and for the soundness of the
          materials used for designs that he has not made himself, but not for
          those parts for which a certain brand or treatment of materials is
          expressly prescribed in the application of work . If the applicant
          wishes to transfer the responsibility for the design made by him or on
          his behalf to the contractor, the latter will not be obliged to accept
          this until he has been given sufficient time to make a decision
          regarding this transfer, whereby the contractor must be able to study
          and calculate the entire design and must have provided him with all
          relevant data and documents. The contractor cannot be required to do
          this free of charge unless it has already become apparent from the
          application that the client wishes to transfer the responsibility to
          the contractor. If the client makes material or parts available for
          further processing or assembly, then the contractor is responsible for
          correct processing or assembly, but never for the materials or parts
          themselves. The contractor is not liable for damage due to death or
          physical injury, consequential loss or damage for any other reason,
          which is related to the (unsoundness of) the materials or parts made
          available by the client for further processing or assembly,
          irrespective of the processing or processing thereof by the contractor
          or third parties due to product liability.
        </p>
        <p class="p-5">
          Article 7. AWARD The agreement is formed by the notification to the
          contractor that the assignment has been awarded to it. If the
          notification is made orally, the client will confirm this notification
          in writing or signing the quotation stating the date of the
          notification, which confirmation will serve as full proof. If no
          written notification of the award has been made to the contractor by
          the client within seven days, the contractor can confirm the
          assignment in writing to the client, stating the date of the
          notification as irrevocable, or the deposit paid for the assignment
          will be accepted as confirmation of award. All price changes are
          settled in accordance with the provisions of article 5 paragraph 5,
          unless the announcement of the award is made on a day following the
          ultimate date of the acceptance of the offer (article 5, paragraph 1),
          in which case the price changes since the last day of acceptance will
          be settled.
        </p>
        <p class="p-5">
          Article 8 AMENDMENT Changes to the agreements and deviations from
          these General Terms and Conditions will only be effective if they have
          been agreed in writing between the contractor and the client.
        </p>
        <p class="p-5">
          Article 9 DISSOLUTION If the client does not properly comply with the
          obligations, which arise for him from any agreement concluded with the
          contractor on the basis of these terms and conditions, as well as in
          the event of suspension of payments, of application for or granting of
          a suspension of payments, of bankruptcy or liquidation of the client's
          affairs, or of the death of the client, or if the client loses
          disposal of its assets to attachment or otherwise, the contractor is
          entitled to the agreement or part thereof, which still have to be
          performed, without notice of default, that any judicial intervention
          is required, to dissolve and take back the goods delivered by him,
          insofar as they have not yet been paid, without prejudice to his right
          to compensation for any loss, loss of profit and other damage that may
          arise from another. In the cases referred to in paragraph 1, any claim
          that the contractor has against the client is immediately due and
          payable. Under the circumstances referred to in paragraph 1 of this
          article, the client is also entitled to dissolve the agreement. In
          that case, the client shall be entitled to take back any material
          supplied by it, insofar as it has not yet been paid for. If the
          dissolution, as stated in paragraph 3, is approved by the contractor,
          the client will owe the contractor an amount in respect of
          compensation equal to the costs incurred up to that time, plus 25%
          over the remaining amount of the quotation given with the quotation,
          unless the parties agree otherwise in writing.
        </p>
        <p class="p-5">
          Article 10 DELIVERY TIME The delivery time starts as soon as the
          agreement has been concluded and all data necessary for the
          commencement of the execution of the work are in the possession of the
          contractor. The client is obliged to inform the contractor in a timely
          manner of all data and choice provisions that are necessary for the
          progress of the work. The specified delivery periods are not to be
          regarded as strict deadlines. The mere exceeding of this period means
          that the contractor is not in default by operation of law and the
          client cannot dissolve the relevant agreement. The contractor must
          therefore first be given notice of default in this respect.
        </p>
        <p class="p-5">
          Article 11 CHANGES TO THE WORK All changes to accepted work, whether
          due to a special order from the client, or as a result of changes to
          the construction or caused by the fact that the information provided
          does not correspond to the actual execution of the construction, will
          be charged as additional work if this results in additional costs and,
          insofar as this results in fewer costs, will be settled as less work.
          Additional and less work will be settled in fairness, irrespective of
          the obligation to pay the principal sum.
        </p>
        <p class="p-5">
          Article 12 NON-ACCOUNTABLE FAILURE If the normal performance or
          delivery of the work is impeded by a non-attributable shortcoming, the
          contractor is entitled to exceed the agreed delivery time by at least
          the longer period of the non-attributable shortcoming.
          Non-attributable shortcomings include strikes, business interruptions,
          occupations and force majeure of suppliers. A non-attributable
          shortcoming is also understood to mean if facts or circumstances
          arise, under which the contractor cannot be expected to carry out the
          work.
        </p>
        <p class="p-5">
          Article 13 PERFORMANCE OF THE WORK Unless agreed otherwise in writing,
          the client is obliged, under penalty of compensation for damage and
          costs, to ensure: that the place, the value of the items to be
          assembled, materials and/or tools must be stored or that the value is
          delivered, in such a way that damage, in whatever form, or theft,
          cannot take place; that access to the location, where deliveries
          and/or assembly must take place, must be unobstructed and sufficient
          and that furthermore all cooperation is given to ensure a smooth
          delivery, assembly and/or finishing; .that, if a hoist, lift or
          another means of transport has to be used, this is made available with
          operation by and at the expense of the client. The instrument to be
          used must comply with the government regulations applicable at the
          time of use. Any damage arising therefrom shall be borne by the
          client, unless it is established that the fault of the contractor is
          established; that (sub)floors are free of lime, cement and dirt
          residues and loose parts, if necessary, unless otherwise agreed in
          writing, completely flat and level and broom clean; that the space in
          which work is to be carried out is provided with electricity, air,
          water and, if necessary, heating; that, if others also have to perform
          work in the relevant room, that work has been completed before the
          contractor commences its work, so that it can perform its work there
          unimpeded; .that, in the case of renovation work and/or renovation of
          the interior, the business space is closed to the public while the
          work is being performed.
        </p>
        <p class="p-5">
          Article 14 RISK AND STORAGE Unless the contractor has stated otherwise
          in writing, the risk of the goods, materials and work performed shall
          be borne by the client from the time of delivery of the goods and
          materials at the place of destination, or from the time of
          commencement of the work, respectively. If, through no fault of the
          contractor, the delivery cannot take place at the predetermined time,
          the goods will be stored at the expense and risk of the client. If the
          client is overdue in the payment of any instalment, the contractor is
          entitled to store the goods at the expense and risk of the client and
          to postpone the first delivery until all delivery terms are due and
          will have been paid.
        </p>
        <p class="p-5">
          Article 15 RESERVATION OF OWNERSHIP All items supplied on or with the
          work remain the property of the contractor until the client has fully
          fulfilled its payment obligations, which include additional work,
          extra costs and interim price increases. In addition, the contractor
          now and in the future will deliver all goods under agreements
          concluded and to be concluded with the client, subject to a silent
          pledge on all those goods in favour of the contractor. Any
          intervention by third parties must be immediately communicated by the
          client. Costs and/or losses arising from failure to notify immediately
          shall be borne by the client
        </p>
        <p class="p-5">
          Article 16 PAYMENT Unless the parties agree otherwise in writing,
          payment shall be made as follows: 30% upon order, 30% upon
          commencement of work, 30% upon delivery of work, 10% upon ready
          assembly or commissioning before disassembly is ready. With the fourth
          payment, the client will be able to withhold 5% of the contract sum as
          security in connection with the guarantee referred to in article 17
          paragraph 1 and for small parts of the work, which may not yet have
          been delivered. If, however, it turns out that the finished goods must
          be stored, the third and fourth payments (if desired reduced by 5% of
          the contract price for the guarantee) will be due and payable at the
          time of the goods that are ready for delivery, however after deduction
          of assembly costs to be determined later. In that case, the assembly
          costs will be due and payable at the time of the first delivery of the
          work. All payments must be made without any deduction or set-off at
          the offices of the contractor or into an account to be designated by
          it. If the client does not pay any instalment no later than fourteen
          days after the due date, this will be in default without any notice of
          default being required. From the day that payment must have been made,
          the client pays interest due at 1% of the invoice amount for each
          month or part of a month by which the due date is exceeded. By the
          mere conclusion of the agreement, the client is obliged to reimburse
          the extrajudicial collection costs to the amount of the amounts owed
          for lawyers pursuant to the most recently applicable collection rate,
          irrespective of the compensation referred to in Article 16 paragraph
          5.
        </p>
        <p class="p-5">
          Article 17 WARRANTY After the first delivery of the work, a warranty
          period of three months applies. For manufacturing defects, which due
          to their nature can be discovered after a longer period of time, a
          warranty period of one year after the first delivery applies. If
          partial delivery of the work takes place, the warranty periods start
          to run with the delivery of these parts. The guarantee obligation
          shall lapse with regard to those parts of the work that are defective
          if repairs or other work have been carried out by others without
          written permission from the contractor. No guarantee will apply to
          constructions or materials prescribed by the client or to material or
          part of the work supplied by the client or third parties on its
          behalf, unless performed with the explicit approval of the contractor.
          Repairs or changes related to paragraph 5 will not be carried out by
          the contractor other than at the expense of the client, unless the
          contractor has given its approval in accordance with the provisions of
          paragraph 5. If a room in which the work is placed is taken into use
          before the first delivery, this is entirely at the risk of the client.
          No warranty applies to glass, discolouration of wood for minor colour
          deviations of wood and other materials. The guarantee only applies to
          use for which the work is intended according to the order; if nothing
          else has been agreed about the intended use, the guarantee only
          applies to normal use. The warranty only applies under normal
          circumstances. This includes, among other things: ensuring sufficient
          humidity in the atmosphere, not exposing it to excessive humidity or
          dryness, cold, heat, etc.
        </p>
        <p class="p-5">
          Article 19 DISPUTES Dutch law applies to all disputes relating to the
          agreement. Only the Dutch court or the hereinafter referred to as the
          Disputes Committee is authorised to take cognisance of these disputes.
          Disputes between the client and the contractor about the formation or
          implementation of the agreement to which these terms and conditions
          apply can be submitted by both the client and the contractor to the
          disputes committee, which is composed by the interior construction
          section, set up by the Central Union of Furniture Manufacturers in
          Haarlem. The Disputes Committee is not authorised to deal with a
          dispute that exclusively relates to the non-payment of an invoice and
          that is not based on a material leak. A dispute will only be handled
          by the Disputes Committee if the customer has first submitted its
          complaint to the contractor within a reasonable time. The client must
          submit the dispute to the disputes committee in writing no later than
          three months after he has submitted his complaint to the supplier,
          stating the names and addresses of the clients and of the contractor
          and a clear description of the dispute and the requirement Dutch court
          concluded. If the contractor submits a dispute to the disputes
          committee, the disputes committee will only handle this dispute after
          the client has declared in writing, within one month after the
          contractor has submitted the dispute, that it will submit to the
          decision of the disputes committee. The Disputes Committee makes a
          decision by way of binding advice. A fee is due for the handling of a
          dispute.
        </p>
        <p class="p-5">
          Article 20 LIMITATION OF LIABILITY The contractor’s liability for
          damage caused by defects in the delivered goods is limited to the net
          invoice amount of the delivered goods. The contractor is never liable
          for indirect damage, including damage from third parties or loss of
          profit. The contractor is also not liable for damage related to
          constructions or materials prescribed by the client or material or
          part of the work supplied by the client or on its behalf by third
          parties.
        </p>
      </div>
      <Footer />
    </div>
  </body>
</html>
