---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SITE } from '../config';

let { title } = SITE;
let description = 'Custom-made designs made simple';
let permalink = 'https://chipchop.nl/';
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
    </div>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1
              class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one animation"
            >
              WHY CHIPCHOP
            </h1>
            <p
              class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 animation"
            >
              Furniture is a funny subject. Many people believe that filling
              their home with white cubes will make it seem larger and more
              clutter free. But then their personal space often turns out a
              little cold and then they would have wanted something more
              creative.
            </p>
            <p
              class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 animation"
            >
              Now let’s look beyond the products and consider the process.
              Decorating your interior should be fun, right? While the IKEAs of
              this world make some great stuff for all budgets, their shopping
              experience is not fit for everyone, let alone couples ;-)
            </p>
          </div>
        </section>
      </main>
    </div>
    <section class="w-full h-screen">
      <img
        src="https://res.cloudinary.com/chipchop/image/upload/w_1200,c_scale/v1693889067/static/about/why1.jpg"
        class="object-cover w-full h-full animation"
        alt="Wood Work"
      />
    </section>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <p
          class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 animation"
        >
          Chipchop is not for the cheap. Chipchop is for those who want to have
          some fun while designing their interior. For those who want
          imaginative furniture that really celebrates colour, contrast,
          texture, material and space. And even for those who do not yet know
          what they want.
        </p>
        <p
          class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 animation"
        >
          We can provide you with design insights, inspiring ideas and project
          visualisations, all based on your own space and personal taste. We
          help you make up your mind, custom-make your durable furniture and
          make sure you get what your interior needs in the end, always with a
          smile.
        </p>
      </div>
    </section>
    <section class="w-full h-screen">
      <img
        src="https://res.cloudinary.com/chipchop/image/upload/w_1200,c_scale/v1693889075/static/about/why2.jpg"
        class="object-cover w-full h-full animation"
        alt="Wood Work"
      />
    </section>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <p
              class="text-xl font-normal text-gray-500 lg:text-2xl sm:px-16 lg:px-48 dark:text-gray-400 animation"
            >
              The only thing you have to make, is an appointment.
            </p>
          </div>
        </section>
      </main>
    </div>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 animation"
    >
      <a
        href="/contact"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white hover:text-black rounded-lg bg-[#4b5b5a] hover:bg-[#ebccca] focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Contact Us
        <svg
          class="w-3.5 h-3.5 ml-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
    </div>
    <Footer />
    <style>
      .animation {
        opacity: 0;
        transition: all 0.7s ease-out;
        transition-delay: 0.4s;
      }

      .scroll-animation {
        opacity: 1;
        transform: translateX(0);
      }
    </style>
    <script>
      const the_animation = document.querySelectorAll('.animation');

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add('scroll-animation');
            } else {
              entry.target.classList.remove('scroll-animation');
            }
          });
        },
        { threshold: 0.1 }
      );
      //
      for (let i = 0; i < the_animation.length; i++) {
        const elements = the_animation[i];

        observer.observe(elements);
      }
    </script>
  </body>
</html>
