---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<div
  class="bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-2 text-center animation"
>
  <div class="p-5">
    <a href={post.url}>
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one animation"
      >
        {post.frontmatter.title}
      </h1>
    </a>
    <p
      class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 animation"
    >
      {post.frontmatter.description}
    </p>
  </div>
</div>

<style>
  .animation {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
  }

  .scroll-animation {
    opacity: 1;
    transform: translateX(0);
  }
</style>
<script>
  const the_animation = document.querySelectorAll(".animation");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Check for "seen" class and element visibility
          if (
            !entry.target.classList.contains("seen") &&
            (entry.target as HTMLElement).offsetParent !== null
          ) {
            entry.target.classList.add("scroll-animation");
            entry.target.classList.add("seen");

            // Unobserve element after animation (optional)
            observer.unobserve(entry.target);
          }
        }
      });
    },
    { threshold: 0.1 }
  );

  for (let i = 0; i < the_animation.length; i++) {
    const elements = the_animation[i];
    observer.observe(elements);
  }
</script>
