---
import Nav from './Nav.astro';
import Footer from './Footer.astro';

export interface Props {
  title: string;
  description: string;
  tag: string;
}

const { title, description, tag } = Astro.props as Props;
---

<div>
  <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
    <Nav />
  </div>
  <div
    class="text-center ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]"
  >
    <h1
      class="text-3xl uppercase font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one m-5 text-center"
    >
      {title} : {description}
    </h1>
  </div>
  <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
    <script
      src="https://product-gallery.cloudinary.com/all.js"
      type="text/javascript"
      is:inline></script>
    <div id="my-gallery" style="max-width:80%;margin:auto"></div>

    <script define:vars={{ tag }} type="text/javascript">
      (function init() {
        if (typeof window?.cloudinary !== 'undefined') {
          window.myGallery = cloudinary.galleryWidget({
            container: '#my-gallery',
            cloudName: 'chipchop',
            mediaAssets: [{ tag: tag, mediaType: 'image' }],
            carouselLocation: 'bottom',
            aspectRatio: '4:3',
            themeProps: {
              primary: '#FFFFFF',
              onPrimary: '#929292',
              active: '#000000',
            },
            thumbnailProps: {
              width: 120,
              height: 80,
              spacing: 1,
              navigationColor: 'white',
            },
            viewportBreakpoints: [
              {
                breakpoint: 600,
                carouselStyle: 'indicators',
              },
            ],
          });
          window.myGallery.render();
        } else {
          setTimeout(() => init(), 100);
        }
      })();

      document.addEventListener(
        'astro:after-swap',
        () => {
          if (typeof window.myGallery !== 'undefined') {
            window.myGallery.destroy();
          }
        },
        { once: true }
      );
    </script>
  </div>
  <div
    class="text-center ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem] pt-[2rem]"
  >
    <a
      href="/projects"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        fill="currentColor"
        viewBox="0 0 448 384"
        class="pr-[5px]"
      >
        <path
          d="M 9 169 Q 0 179 0 192 L 0 192 Q 0 205 9 215 L 169 375 Q 179 384 192 384 Q 205 384 215 375 Q 224 365 224 352 Q 224 339 215 329 L 109 224 L 416 224 Q 430 224 439 215 Q 448 206 448 192 Q 448 178 439 169 Q 430 160 416 160 L 109 160 L 215 55 Q 224 45 224 32 Q 224 19 215 9 Q 205 0 192 0 Q 179 0 169 9 L 9 169 L 9 169 Z"
        ></path>
      </svg>
       Back to projects
    </a>
  </div>
  <Footer />
</div>
