---
export interface Props {
  post: any;
}

const { post } = Astro.props;
console.log("hero component",post.frontmatter)
---
<section
  id="home"
  class="relative overflow-hidden pt-[120px] md:pt-[130px] lg:pt-[160px] h-screen"
>
<video
      autoplay
      loop
      muted
      poster="path/to/poster.jpg" class="absolute inset-0 -z-2 w-full h-full object-cover"
    >
      <source src="https://assets.mixkit.co/videos/preview/mixkit-set-of-plateaus-seen-from-the-heights-in-a-sunset-26070-large.mp4" type="video/mp4" /> Your browser does not support the video tag.
    </video>
  </div>
  <div>test</div>
</section>
